<!--
  DIRECTIVAS: funcionalidades que se usasn en la vista de angular
  *ngFor: directiva para generar bucles en la vista
  *ngIf: directiva para condcionales
-->

<!-- SLIDESHOW -->
<h2 id="inicio" class="row titulos">
  <hr />
  SLIDESHOW
  <hr />
</h2>
<div id="slide" class="row" *ngIf="slideJson">
  <ul>
    <li *ngFor="let slide of slideJson">
      <img src="{{slide.imagen}}" alt="">
      <div class="textoSlide">
        <h1>{{slide.titulo}}</h1>
        <h3>{{slide.descripcion}}</h3>
      </div>
    </li>

    <!-- <li>
    <li>
      <img src="assets/img/slide/slide02.jpg" alt="">
      <div class="textoSlide">
        <h1>Lorem ipsum</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</h3>
      </div>
    </li> -->
  </ul>

  <ol id="paginacion">
    <li data-item="1"><span class="fa fa-circle"></span></li>
    <!-- <li data-item="1"><span class="fa fa-circle"></span></li>
    <li data-item="2"><span class="fa fa-circle"></span></li>
    <li data-item="3"><span class="fa fa-circle"></span></li>
    <li data-item="4"><span class="fa fa-circle"></span></li>
    <li data-item="5"><span class="fa fa-circle"></span></li>
    <li data-item="6"><span class="fa fa-circle"></span></li> -->
  </ol>

  <div id="retroceder" class="flechas"><span class="fa fa-arrow-left" aria-hidden="true"></span></div>
  <div id="avanzar" class="flechas"><span class="fa fa-arrow-right" aria-hidden="true"></span></div>
</div>

<span *ngIf="!slideJson">Cargando slide ...</span>
